1. Reverse a given list in Python
    list1 = [100, 200, 300, 400, 500]
    Expected output: [500, 400, 300, 200, 100]

In [1]:
list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

2. Concatenate two lists index-wise
     list1 = ["M", "na", "i", "Ke"]
     list2 = ["y", "me", "s", "lly"]
     Expected output: ['My', 'name', 'is', 'Kelly']

In [2]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

3. Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order
    list1 = [10, 20, 30, 40]
    list2 = [100, 200, 300, 400]
   Expected output:  
           10 400
20 300
30 200
40 100

In [3]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()
for i,j in zip(list1,list2):
    print(i,j)

10 400
20 300
30 200
40 100

4. Remove empty strings from the list of strings
          list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

In [4]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list1.pop(1)

''

In [8]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list1.pop(1)

''

In [9]:
list1

['Mike', 'Emma', 'Kelly', '', 'Brad']

In [10]:
list1.pop(3)
list1

['Mike', 'Emma', 'Kelly', 'Brad']

5. Below are the two lists convert it into the dictionary
        keys = ['Ten', 'Twenty', 'Thirty']
        values = [10, 20, 30]
        Expected output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [4]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dict=dict(zip(keys,values))
print(dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

6. Merge following two Python dictionaries into one
   dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
    dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
     Expected output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [8]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3={}

# update method
dict3.update(dict1)
dict3.update(dict2)
print(dict3)

# unpacking method
dict4={}
dict4={**dict1,**dict2}
print(dict4)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

7. Access the value of key ‘history’ from the below
sampleDict = {
"class":{
"student":{
"name":"Mike",
"marks":{
"physics":70,
"history":80
}
}
}
}
Expected output: 80

In [10]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(sampleDict['class']['student']['marks']['history'])

80